<div class="container">
  <header>
    <a class="title" href="https://www.mediawiki.org/wiki/API:Tutorial" target="_blank">MediaWiki</a>
    <p class="subtitle">El software libre utilizado por Wikipedia!!</p>
  </header>

  <!-- Se obtiene el valor del input del componente hijo search y se le manda al método padre del app.component -->
  <!--* 'formSubmitted es un objeto de tipo @Output' que viene desde search.component, y ya que search es un formulario reactivo, este permite 
  <!--*  almacenar la entrada de datos del usuario, en este caso el valor del Input -->
  <app-search (formSubmitted)="onSearch($event)"></app-search>  

  <!-- Los datos llegan como un Observable array[] desde el padre article.component y se renderizan aquí en el hijo -->
  <!-- pipe es lo mismo que el símbolo |: Junto con async se utiliza para resolver el Observable que llega con la variable 'article$' -->
  <!--* ng-container: Renderiza los datos que recibe sin necesidad de agregar etiquetas div, etc -->
  <ng-container *ngFor="let article of article$ | async"> <!-- 'article$' proviene del app.component.ts -->
    <app-article [article]="article"></app-article>
  </ng-container>
</div>

